{% extends "base.html" %}

{% block extra_title %}  | Reviews {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center p-2 text-center">
        <h2>Review</h2>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-12 col-md-6">
            <form method="POST" class="form mb-2">
                {% csrf_token %}
                {{ review_form | crispy }}
                <div class="text-right">
                    <button class="btn btn-all" type="submit">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}