{% extends "base.html" %}

{% block extra_title %}  | Add a Review {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-grey">Add a Review</h2>
            <hr class="w-25 mt-3">
        </div>
    </div>

    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="form-group">
                <form class="content-surround form-background" method="POST">
                    {% csrf_token %}
                    {{ review_form | crispy }}
                    <div>
                        <a href="{% url 'userprofile' %}" class="btn btn-all form-btn">
                            <span>Return to User Profile</span>
                        </a>
                        <button class="btn btn-all form-btn" type="submit">Add Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}