{% extends "base.html" %}

{% block extra_title %}  | User Profile {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center p-2 text-center">
        <h2>User Profile</h2>
    </div>
    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="form-group">
            <form action="" method="POST">

                {% csrf_token %}
                {{ contact_details_form.as_p }}

                <input type="submit" value="submit" class="btn rounded text-uppercase my-4 btn-black border-secondary shadow-sm">
            </form>
        </div>
    </div>
    <br>

    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="container service-cards">
            {% for bike in bike %}
                <div class="card">
                    <h2>Owner: {{ bike.owner }}</h2>
                    <h2>Current: {{ bike.current }}</h2>
                    <h2>Type: {{ bike.bike_type }}</h2>
                    <h2>Frame: {{ bike.frame_type }}</h2>
                    <h2>Handlebars: {{ bike.handlebar_type }}</h2>
                    <h2>Wheel size: {{ bike.wheel_size }}</h2>
                    <h2>Description: {{ bike.owner_description }}</h2>
                    <h2>Age: {{ bike.age }}</h2>
                    <h2>Creation date: {{ bike.bike_creation_date }}</h2>
                </div>
                <br>
            {% endfor %}
        </div>    
    </div>
    <br>

    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="container service-cards">
            {% for review in user_reviews %}
                <div class="card">
                    <h2>{{ review.level_type }}</h2>
                    <h2>{{ review.rating }}</h2>
                    <h2>{{ review.message }}</h2>
                    <h2>{{ review.date_of_contact }}</h2>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}