{% extends "base.html" %}

{% block extra_title %}  | About {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="d-flex row justify-content-center text-grey">
        <div class="col-12 col-md-10 text-center">
            <h2>About</h2>
            <div>
                <h4 class="sub-heading-styling">Where it all began</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur labore soluta corporis dignissimos eaque inventore exercitationem voluptatibus illum, impedit deleniti quod alias? Molestiae velit deleniti porro quo doloribus, iure sequi.
                </p>
                <h4 class="sub-heading-styling">Our aim to every customer</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure debitis minus nisi. Adipisci voluptatibus repudiandae libero aliquid voluptatum sunt tempora, eaque consequatur! Delectus ipsam ad animi perspiciatis aspernatur. Impedit, beatae!
                </p>
                <hr>

                <h4 class="sub-heading-styling">Where do I start?</h4>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ratione odit ullam aliquam sequi quo nisi, nulla suscipit, magni accusamus commodi odio maxime quibusdam neque? Quae dolorum sunt rem architecto!
                    </li>
                </ul>
                {% if not user.is_authenticated %}
                    <h5 class="mt-5">Become a member today to start using our services.</h5>
                    <a href="{% url 'account_signup' %}" class="btn btn-all">Register</a>
                {% else %}
                    <h5 class="mt-5">Remember, you have to be logged in to use the service.</h5>
                    <a href="{% url 'account_login' %}" class="btn btn-all">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}