{% extends "base.html" %}

{% block extra_title %}  | About {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center text-grey">
        <div class="col-12 col-md-10 text-center">
            <h2>About</h2>
            <hr class="w-25 mt-3">
            <div>
                <h4 class="sub-heading-styling">Where it all began</h4>
                <p>We’re a friendly bike shop in Manchester. We’re grown over the years from servicing the postman’s bike to helping hundreds of you get on your bikes during lockdown.
                <p>Our members are a supportive bunch and we regularly head out on rides around Manchester together. We’d love you to come and join the community.</p>
                <p> We’re excited to announce you’re now able to book our services online, as well as over the phone or by popping in to our workshop.</p>
                <h4 class="sub-heading-styling">Services</h4>
                <p>Leo’s is here for all types of cyclists. Whether you’ve dug out an old bike from the shed, you’ve started commuting on your bike or you’re a seasoned pro, we’ve got a range of services to meet your needs.</p> 
                <p>If you’ve got a specialist bike, such as a tandem or e-bike, we know that you’ll need specialist services. Get in touch with us to discuss your needs and we’ll give you a bespoke quote.</p>
                <hr class="w-25 mt-3">

                <h4 class="sub-heading-styling">Where do I start?</h4>
                <ul class="about-instructions">
                    <li>Sign up to become a member or log in</li> 
                    <li>Add your bike to your profile and tell us about it</li>
                    <li>Take a look at our services and pick one that’s right for you</li> 
                    <li>Book us in and we’ll come to you</li> 
                    <li>You can log in and update your bike any time</li> 
                </ul>
                <hr class="w-25 mt-3">
                {% if not user.is_authenticated %}
                    <p class="mt-5">Remember, you have to be a member to start using our service. 
                        Register today as a new member or login now as a returning member.</p>
                    <a href="{% url 'account_signup' %}" class="btn btn-all">Register</a>
                    <a href="{% url 'account_login' %}" class="btn btn-all">Login</a>
                {% else %}
                    <p class="mt-4">Already logged in? Start searching the services available today!</p>
                    <a href="{% url 'service_list' %}" class="btn btn-all">Services</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
