{% extends "base.html" %}

{% block extra_title %}  | Contact {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mb-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center text-grey">Contact us</h2>
            <hr class="w-25 mt-3">
        </div>
    </div>
    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="form-group">
                <form class="content-surround form-background" method="POST">
                    {% csrf_token %}
                    {{ contact_us_form | crispy }}
                    <input type="submit" value="submit" class="btn btn-all form-btn">
                </form>
            </div>
        </div>
        <div class="col-12 text-center text-grey">
            <h4 class="mt-4 mb-4">Contact Info</h4>
            <hr class="w-25 mt-3">
            <p class="mb-5">If you'd prefer to speak to someone directly, please contact us via the
             telephone or pop into the local shop. Our staff are always happy to answer any queries you may have.</p>
             <p>Contact details can be found below.</p>
            <div class="contact-info-lg">
                <p><i class="fas fa-map-marker-alt"></i>
                111 Manchester Road,<br/>Manchester, United Kingdon </p>
                <p><i class="fas fa-phone-alt"></i> 0161 123 4567</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}