{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}  | Checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include 'services/includes/delivery_banner.html' %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 col-lg-4 text-center">
            <h2 class="text-grey">Checkout</h2>
            <hr class="w-25 mt-3">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10 text-center text-grey">
            <h3 class="mx-2 my-4">Order Summary</h3>
        </div>

        <div class="col-10 col-lg-6">
            <p class="text-grey">Order Summary ({{ product_count }} items in basket)</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-grey">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-grey">Subtotal</p>
                </div>
            </div>
            {% for item in basket_items %}
                <div class="row">                    
                    <div class="col-8">
                        <a href="{% url 'service_detail' item.service.id %}">
                            <p class="my-0"><strong>{{ item.service.level_type }} Service</strong></p>
                        </a>
                        <p class="my-3 small offset-1 text-grey">Quantity: {{ item.quantity }}</p>
                    </div>
                    <div class="col-4 text-right">
                        <p class="my-0 small text-grey">£{{ item.service.price }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr class="my-0">
            
            <div class="row mt-3 text-grey text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Service:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                    {% if service_charge > 0 %}
                        <p class="my-0">£{{ service_charge | floatformat:2 }}</p>
                    {% else %}
                        <p class="my-0">£0.00</p>
                    {% endif %}
                    <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>

        <div class="col-10 col-lg-6 text-grey contact-details-form">
            <p class="px-2 py-2">Please fill out the form below so our engineers know where the planned service on your bike will be taking place:</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}

                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-grey px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-grey px-2 w-auto">Service Location</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label text-grey" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-grey" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-grey" href="{% url 'account_login' %}">Login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-grey px-2 w-auto">Service Date</legend>
                    <p class="px-2 py-2">Please input an available date for your chosen service that suits you. 
                        Our engineers will be in touch to arrange a time:</p>
                    {{ order_form.preferred_service_date | as_crispy_field }}
                </fieldset>

                    <!-- <form>
                        <label for="date">Please type a date:</label><br>
                        <input type="text" id="date" name="date"><br>
                    </form> -->
                
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="{% url 'view_basket' %}" class="btn btn-all">
                        <span class="font-weight-bold">Adjust Basket</span>
                    </a>
                    <button id="submit-button" class="btn btn-all">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>The figure of <strong>£{{ grand_total|floatformat:2 }}</strong> will be taken from your card.</span>
                    </p>
                </div>
            </form>            
        </div>
        
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Built-in template filter to render django template variables in JS files -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}