{% extends "base.html" %}

{% block page_header %}
{% endblock %}

{% block extra_title %}  | Login {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center p-2 text-center">
        <h2>Login</h2>
    </div>
    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="form-group">
            <form action="" method="POST">

                {% csrf_token %}
                {{ login.as_p }}

                <input type="submit" value="submit" class="btn rounded text-uppercase my-4 btn-black border-secondary shadow-sm">
                <p>Haven't registered yet? Create your account here <a href="{% url 'registration' %}"></a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}