{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_title %}  | Basket {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    {% include 'services/includes/delivery_banner.html' %}
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h2 class="header-styling text-grey">Basket</h2>
            <hr class="w-25 mt-3">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-grey">
                            <tr>
                                <th scope="col">Service details</th>
                                <th scope="col">Recorded Bike</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Sub Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        {% for item in basket_items %}
                            <tr class="text-grey">
                                <td class="py-3">
                                    <p class="my-0">{{ item.service.level_type }}</p>
                                </td>
                                <td class="py-3">
                                <!-- {% if item.bike.current %}
                                    <p class="my-0">Type: {{ item.bike.bike_type }}</p>
                                    <p class="my-0">Aged: {{ item.bike.age }}</p>
                                {% else %}
                                    <a href="{% url 'all_bikes' %}" class="btn add_bike_btn mt-3">
                                        <span>Add Bike</span>
                                    </a>
                                {% endif %} -->
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.service.price }}</p>
                                </td>
                                <td class="py-3">
                                    <form class="form update-form" method="POST" action="{% url 'edit_basket' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black btn-sm rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-sm fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number" 
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                    data-item_id="{{ item.item_id }}" 
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-sm fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-quantity text-info"><small>Update</small></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.service.price | calc_subtotal:item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-grey">
                                <!-- <h2><strong>Calendar</strong></h2>
                                <p>Choose a date and time for our engineer to visit:</p>
                                <form>
                                    <label for="date">Please type a date:</label><br>
                                    <input type="text" id="date" name="date"><br>
                                </form> -->
                                <!-- {% if scheduled_event %}
                                    {{ scheduled_event.day }}
                                {% endif %} -->
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="pt-5 text-right text-grey">
                                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                <h6>Service Charge: £{{ service_charge|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_service_delta > 0 %}
                                    <p class="mb-1 text-danger">
                                        You could get your service for free if you upgraded to the <strong>ADVANCED</strong> level of service today!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'service_list' %}" class="btn btn-all">
                                    <span>Return to Services</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-all">
                                    <span>Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-3">Your basket is empty</p>
                <a href="{% url 'service_list' %}" class="btn btn-all">
                    <span>Return to Services</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'services/includes/service_quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-quantity').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // jQuery, on Done, reload page
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}