{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_title %}  | Basket {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include 'services/includes/delivery_banner.html' %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <h2 class="text-grey">Basket</h2>
            <hr class="w-25 mt-3">
            {% if basket_items %}
                <div class="d-block d-md-none">
                    <p class="text-grey mb-3">A summary of your basket contents is below.</p>
                    {% for item in basket_items %}
                    <div class="row">
                        <div class="col-12 mb-3">
                            {% include "basket/service_details.html" %}
                        </div>
                        <br>
                        <div class="col-12">
                            {% include "basket/quantity.html" %}
                        </div>
                        <div class="col-12 order-sm-last mt-4 mb-3">
                            <p class="my-0 mb-3 text-grey">Sub total: £{{ item.service.price | calc_subtotal:item.quantity }}</p>
                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            {% include "basket/basket_total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "basket/checkout_btn.html" %}
                        </div>
                    </div>
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-borderless table-basket">
                        <thead class="text-grey">
                            <tr>
                                <th scope="col">Service details</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Sub Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            <tr class="text-grey">
                                <td class="py-3">
                                    {% include "basket/service_details.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "basket/quantity.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.service.price | calc_subtotal:item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <a class="remove-item text-danger" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right text-grey">
                                {% include "basket/basket_total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                {% include "basket/checkout_btn.html" %}
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead text-grey mb-3">Your basket is empty.</p>
                <a href="{% url 'service_list' %}" class="btn btn-all">
                    <span>Return to Services</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'services/includes/service_quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-quantity').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        // jQuery, on Done, reload page
        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}