html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Colors */
.text-black {
    color: #000 !important;
}

.bg-black {
    background-color: #000 !important;
}

/* Forms */


/* Buttons (need fixing for navbar) */

.navbar-toggler,
.navbar-toggler-icon {
    border-color: white;
    color: white;
}

.update-quantity,
.remove-item {
    cursor: pointer;
}