{% extends "base.html" %}

{% block extra_title %}  | Add Bike {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-grey">
            <h2>Add Bike</h2>
            <p class="sub-heading-styling">First bike? No problem, just complete the form below and 'Add Bike' to your profile.  </p>
            <hr class="w-25 mt-3">
        </div>
    </div>

    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="form-group">
                <form class="content-surround form-background" method="POST">
                    {% csrf_token %}

                    {{ add_bike.bike_type | as_crispy_field }}
                    {{ add_bike.frame_type | as_crispy_field }}
                    {{ add_bike.handlebar_type | as_crispy_field }}
                    {{ add_bike.wheel_size | as_crispy_field }}
                    {{ add_bike.owner_description | as_crispy_field }}
                    {{ add_bike.age | as_crispy_field }}
                    <p class="text-center text-black">
                        Please tick if this is your current bike
                        {{ add_bike.current | as_crispy_field }}
                    </p>
                    <div>
                        <a href="{% url 'userprofile' %}" class="btn btn-all form-btn">
                            <span>Return to User Profile</span>
                        </a>
                        <button class="btn btn-all form-btn" type="submit">Add Bike</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}