{% extends "base.html" %}

{% block extra_title %}  | Bike {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-grey">
            <h2>Bike</h2>
            <hr class="w-25 mt-3">
        </div>
    </div>   
    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
        {% if user.is_authenticated %}
            {% for bike in all_bikes %}
                {% if bike.current %}
                    <h4 class="mt-4 mb-4 text-grey">Current bike:</h4>
                    <i class="fas fa-bicycle fa-lg my-3"></i>
                    <div class="text-block text-grey">
                        <p class="font-weight-bold">{{ bike.bike_type }} Bike - Aged {{ bike.age }} years old</p>   
                        <p class="font-weight-bold">{{ bike.frame_type }} Frame - with {{ bike.handlebar_type }} handlebars</p>
                        <small>
                            <a href="{% url 'bike_details' bike.id %}" 
                                class="btn btn-all btn-sm">
                                View Details
                            </a>
                        </small>
                    </div>
                {% else %}
                    <h4 class="mt-4 mb-4 text-grey">Previously Recorded Bike:</h4>
                    <i class="fas fa-bicycle fa-lg my-3"></i>
                    <div class="text-block text-grey">
                        <p class="font-weight-bold">{{ bike.bike_type }} Bike - Aged {{ bike.age }} years old</p>   
                        <p class="font-weight-bold">{{ bike.frame_type }} Frame - with {{ bike.handlebar_type }} handlebars</p>
                        <small>
                            <a href="{% url 'bike_details' bike.id %}" 
                                class="btn btn-all btn-sm">
                                View Details
                            </a>
                        </small>   
                    </div>
                {% endif %} 
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}         