{% extends "base.html" %}

{% block extra_title %}  | Bike Details {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center text-grey">
            <h2>Bike Details</h2>
            <hr class="w-25 mt-3">
        </div>
    </div>

    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-grey">
            <h1>{{ each_bike.bike_type }} Bike</h1>
            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'edit_bike' each_bike.id %}" 
                        class="btn btn-all btn-sm">Edit
                    </a> | 
                    <a href="{% url 'delete_bike' each_bike.id %}" 
                        class="btn btn-all btn-sm">Delete
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-grey">
            <p><strong>Created on:</strong> {{ each_bike.bike_creation_date }}</p>
            <p><strong>Current Bike:</strong> {{ each_bike.current }}</p>
            <p><strong>Bike Frame:</strong> {{ each_bike.frame_type }}</p>
            <p><strong>Handlebar Type:</strong> {{ each_bike.handlebar_type }}</p>
            <p><strong>Frame Size:</strong> {{ each_bike.frame_size }}</p>
            <p><strong>Owner Description:</strong> {{ each_bike.owner_description }}</p>
            <p><strong>Age:</strong> {{ each_bike.age }} year old</p>
        </div>
    </div>
    <div class="d-flex row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-grey">
            <a href="{% url 'userprofile' %}" class="btn btn-all">
                Return to your profile
            </a>
        </div>
    </div>
</div>

{% endblock %}