<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemPk) {
        // Get the current value
        var currentValue = parseInt($(`#id_qty_${itemPk}`).val());
        // Disable the plus and minus buttons, based on currentValue
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        // Use prop method to disable buttons
        $(`#decrement-qty_${itemPk}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemPk}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemPk = $(allQtyInputs[i]).data('pk');
        handleEnableDisable(itemPk);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemPk = $(this).data('pk');
        handleEnableDisable(itemPk);
    });

    // Increase quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemPk = $(this).data('pk');
       handleEnableDisable(itemPk);
    });

    // Decrease quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemPk = $(this).data('pk');
       handleEnableDisable(itemPk);
    });

</script>