{% extends "base.html" %}

{% block extra_title %}  | Edit Level {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-grey">
                <h2>Product Management</h2>
                <h5 class="text-grey">Edit a Level</h5>
                <hr class="w-25 mt-3">
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-12">
                <form method="POST" action="{% url 'edit_level' level.id%}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-all" href="{% url 'service_list' %}">Cancel</a>
                        <button class="btn btn-all" type="submit">Update Level</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock %}