{% extends "base.html" %}

{% block extra_title %}  | Services {% endblock %}

{% block content %}

<div class="row text-center">
    <div class="col bg-black text-white">
        <h4 class="my-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>                
    </div>            
</div>

<div class="container">
    <div class="d-flex row justify-content-center p-2 text-center">
        <h2>Services</h2>
    </div>
    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="container service-cards">
            {% for service in service_list %}
                <div class="card">
                    <h2>{{ service.level_type }}</h2>
                    <p>£{{ service.price }}</p>
                    {% if request.user.is_authenticated %}
                        <p><a href="{% url 'service_detail' pk=service.pk %}" class="btn btn-secondary btn-black" role="button">View details »</a></p>
                    {% else %}
                        <p>Discover more by registering an account with us today. <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-black" role="button">Register here »</a></p>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}