{% extends "base.html" %}

{% block page_header %}
{% endblock %}

{% block extra_title %}  | Services {% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center p-2 text-center">
        <h2>Services</h2>
    </div>
    <div class="d-flex row justify-content-center p-2 text-center">
        <div class="container service-cards">
            {% for service in services %}
                <div class="card">
                    <h2>{{ service.level_type }}</h2>
                    <p>{{ service.price }}</p>
                    {% if request.user.is_authenticated %}
                        <p><a href="{% url 'service_detail' pk=service.pk %}" class="btn btn-secondary btn-black" role="button">View details »</a></p>
                    {% else %}
                        <p><a href="{% url 'account_signup' %}" class="btn btn-secondary btn-black" role="button">Register »</a></p>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}