{% extends "base.html" %}

{% block extra_title %}  | Services {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include 'services/includes/delivery_banner.html' %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-8 text-center text-grey">
            <h2 class="header-styling">Services</h2>
            <hr class="w-25 mt-3">
            {% for service in service_list %}
                <div class="card content-surround">
                    <div class="card-body">
                        <h3>{{ service.level_type }}</h3>
                        <p class="card-text mb-1">£{{ service.price }}</p>
                        {% if user.is_authenticated %}
                            <p><a href="{% url 'service_detail' service.id %}" class="btn btn-all my-2" role="button">View details</a></p>
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser %}
                        <small class="py-3">
                            <a href="{% url 'edit_service' service.id %}" class="btn btn-admin" role="button">Edit</a> | 
                            <a href="{% url 'delete_service' service.id %}" class="text-danger btn btn-admin" role="button">Delete</a>
                        </small>
                    {% endif %}
                </div>
                <br>
            {% endfor %} 
            <hr class="w-25 mt-3">
            {% if not user.is_authenticated %}
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-8 text-center text-grey">
                    <div class="text-center mb-2" >
                        <p class="mt-3">Become a member today to start using our services.
                            Already a member? You just need to login.</p>
                        <a href="{% url 'account_signup' %}" class="btn btn-all">Register</a>
                        <a href="{% url 'account_login' %}" class="btn btn-all">Login</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row d-flex justify-content-center">
                <div class="col-10 col-lg-8 text-center text-grey">
                    <div class="text-center mb-2" >
                        <p clas="mt-3">We also offer a bespoke service to customers, based on your particular preferences.</p>
                        <p>If you’ve got a specialist bike, such as a tandem or e-bike, we know that you’ll need specialist services. Get in touch with us to discuss your needs and we’ll give you a bespoke quote. </p>        
                        <a href="{% url 'contact' %}" class="btn btn-all text-grey"></a>
                    </div> 
                </div>
            </div>
            {% endif %}  
        </div>
    </div>
</div>

{% endblock %}